<div {{ attributes }}>
    <div>
        {{ this.counter }}
        <div>
            <button
                data-action="live#action"
                data-action-name="increment"
            >
                increment
            </button>
        </div>
    </div>
</div>